/*Constitution page css*/
/*Sidebar*/

.sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    float:left;
    width:15%;
    overflow:hidden;
    height: 100%;
}

.sidebar p{
    margin-top: 0;
    color: #154285;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
}

.const_wrapper ol{
    float:left;
    width:85%;
    overflow:hidden;
}

.const_wrapper{
    display: flex;
}

/*Sidebar responsive*/
@media (max-width: 1350px){
    .sidebar{
        display: none;
    }

    .const_wrapper ol{
        float: none;
    }

    .const_wrapper{
        display: block;
    }
}

/*List*/

ol li{
    font-weight: bold;
}

ol dd{
    margin-left: 10px;
    text-align: justify;
}