/*Facts page css*/
/*cities*/
.cities .city{
    display: flex;
    align-items: center;
    padding: 10px 10%;
    clear: both;
}

.cities .city-right, .cities .city-right h3{
    color: white;
}

.cities .city div{
    width: 70%;
    text-align: justify;
    padding: 5px;
}

.cities .city-right{
    background-color: #4b4b4d;
}

.cities .city-left, .cities .city-left h3{
    color: black;
}