/*Home page css*/
/*Sidebar*/

.sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    float:left;
    width:20%;
    overflow:hidden;
    height: 100%;
}

.sidebar p{
    margin-top: 0;
}

.why_cont{
    float:left;
    width:80%;
    overflow:hidden;
}

.reasons{
    display: flex;
}

/*Why container*/
.why_content p{
    text-align: justify;
}